#custom-php-settings-admin-header {
    padding-top: 20px;
}
#custom-php-settings-admin-header h1 {
    font-size: 23px;
    font-weight: 400;
    margin-top: 20px;
}
#custom-php-settings-admin-header img {
    float: left;
    margin-right: 20px;
}
.custom-php-settings-table {
    border: 1px solid #e5e5e5;
    background-color: #fff;
}
.custom-php-settings-table tr:nth-child(2n) td {
    background-color: #f0f0f0;
}
.custom-php-settings-table tr.modified td {
    color: #ff0000;
}
.custom-php-settings-table td {
    width: 33%;
}
/* notifications */
.custom-php-settings-notice {
    position: relative;
    overflow: hidden;
}
.custom-php-settings-notice img {
    opacity: 0.1;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    /*filter: grayscale(100%);*/
    transform: scaleX(-1);
}
/* status page */
#status-form textarea {
    font-family: monospace;
    width: 100%;
    margin: 0;
    height: 300px;
    padding: 20px;
    border-radius: 0;
    resize: none;
    font-size: 12px;
    line-height: 20px;
    outline: 0;
}
