.custom-php-settings-table {
    border: 1px solid #e5e5e5;
    background-color: #fff;
}
.custom-php-settings-table tr:nth-child(2n) td {
    background-color: #f0f0f0;
}
.custom-php-settings-table tr.modified td {
    color: #ff0000;
}
.custom-php-settings-table td {
    width: 33%;
}